#nav ul{
    list-style-type: none;
    text-align: center;
}
#nav li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}
#navegador li a {
    padding: 2px 7px 2px 7px;
    color: #666;
    background-color: #b92d2d;
    border: 1px solid #000000;
    text-decoration: none;
}

#navegador li a:hover{
    background-color: #c75e5e;
    color: #000000;
}

#tabnav{
    border: 1px solid rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
